{% extends "base.html" %}

{% block content %}
<h1>Latest News</h1>
<p>Daily & weekly updates from the Kenyan community in Rwanda.</p>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="News 1">
      <div class="card-body">
        <h5 class="card-title">News Headline 1</h5>
        <p class="card-text">Short description of news item 1.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="News 2">
      <div class="card-body">
        <h5 class="card-title">News Headline 2</h5>
        <p class="card-text">Short description of news item 2.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
